/* Algemene instellingen voor de navigatiebalk */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #1a1a1a;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
    border-radius: 15px;
  }
  
  /* Styling voor de nav-items */
  .navbar .nav-link {
    font-size: 1.25rem;
    color: #f1a500;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
  }
  
  /* Hover-effect voor de nav-links */
  .navbar .nav-link:hover,
  .navbar .nav-link.active {
    color: #ffffff;
  }
  
  /* Styling voor het hamburgermenu-icoon (voor mobiel) */
  .navbar-toggler-icon {
    background-color: #f1a500;
    border-radius: 5px;
  }
  
  /* Dropdown-menu styling */
  .navbar-nav .nav-item.dropdown .dropdown-menu {
    background-color: #2c2a29;
    border-radius: 10px;
  }
  
  .navbar-nav .nav-item.dropdown .dropdown-item {
    color: #f1a500;
  }
  
  .navbar-nav .nav-item.dropdown .dropdown-item:hover {
    background-color: #f1a500;
    color: #ffffff;
  }
  
  header {
    padding-top: 90px;  /* Voeg padding toe aan de bovenkant van de header */
  
    
  }
  /* Verwijder de marge boven de figure */
  figure {
    margin-top: 0;
  }
  
  /* Verwijder de marge boven de afbeelding zelf */
  img {
    margin-top: 0;
  }
  
  
  
  
  
   